<!DOCTYPE html>
<html lang="en">
    <style>
        .tick{
            background-repeat: no-repeat;
        }
        img{
            height: 550px;
            width: 700px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <div class="tick">
        
        {% load static %}<img src="{% static 'bankapp/images/tick.gif' %}" alt="tick"><br>
        
    </div>
</center>
</body>
</html>